csharp/XukWorks/xuk.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!ELEMENT ChannelsProperty (Media*, SequenceMedia?)>
<!ELEMENT CoreNode (mProperties, CoreNode*)>
<!ELEMENT Media (#PCDATA)>
<!ATTLIST Media
	type (AUDIO | VIDEO | TEXT | IMAGE) #REQUIRED
	channel CDATA #REQUIRED
	src CDATA #IMPLIED
	clipBegin NMTOKEN #IMPLIED
	clipEnd NMTOKEN #IMPLIED
>
<!ELEMENT Presentation (CoreNode)>
<!ELEMENT SequenceMedia (Media+)>
<!ATTLIST SequenceMedia
	type (AUDIO | VIDEO | TEXT | IMAGE) #REQUIRED
	channel CDATA #REQUIRED
>
<!ELEMENT XmlProperty EMPTY>
<!ATTLIST XmlProperty
	name CDATA #REQUIRED
>
<!ELEMENT key EMPTY>
<!ATTLIST key
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT mProperties (XmlProperty?, ChannelsProperty?)>
<!ELEMENT metaData (key+)>
<!ELEMENT XUK (metaData, Presentation)>
