csharp/XukWorks/xuk.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Laust Skat Nielsen (DBB) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Channel" type="xs:string"/>
	<xs:element name="ChannelManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Channel" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChannelsProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Media" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SequenceMedia" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoreNode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mProperties"/>
				<xs:element ref="CoreNode" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Media">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="AUDIO"/>
								<xs:enumeration value="VIDEO"/>
								<xs:enumeration value="TEXT"/>
								<xs:enumeration value="IMAGE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="channel" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="src">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="clipBegin">
						<xs:simpleType>
							<xs:restriction base="xs:time"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="clipEnd">
						<xs:simpleType>
							<xs:restriction base="xs:time"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Presentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CoreNode"/>
				<xs:element ref="ChannelManager"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SequenceMedia">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Media" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AUDIO"/>
						<xs:enumeration value="VIDEO"/>
						<xs:enumeration value="TEXT"/>
						<xs:enumeration value="IMAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="channel" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="XmlProperty">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:anyAttribute namespace="##any" processContents="lax"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="key">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mProperties">
		<xs:complexType>
			<xs:all>
				<xs:element ref="XmlProperty" minOccurs="0"/>
				<xs:element ref="ChannelsProperty" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="metaData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="key" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="XUK">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metaData"/>
				<xs:element ref="Presentation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
