trunk/csharp/XukWorks/xuk.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Laust Skat Nielsen (DBB) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="XUK">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metaData"/>
				<xs:element ref="Presentation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Presentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChannelsManager"/>
				<xs:element ref="CoreNode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoreNode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mProperties"/>
				<xs:element ref="CoreNode" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mProperties">
		<xs:complexType>
			<xs:all>
				<xs:element ref="XmlProperty" minOccurs="0"/>
				<xs:element ref="ChannelsProperty" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChannelsManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Channel" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Channel">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChannelsProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChannelMapping" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChannelMapping">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Media"/>
				<xs:element ref="SequenceMedia"/>
			</xs:choice>
			<xs:attribute name="channel" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SequenceMedia">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Media" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AUDIO"/>
						<xs:enumeration value="VIDEO"/>
						<xs:enumeration value="TEXT"/>
						<xs:enumeration value="IMAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="timeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d)+\d:\d\d:\d\d(.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Media">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="AUDIO"/>
								<xs:enumeration value="VIDEO"/>
								<xs:enumeration value="TEXT"/>
								<xs:enumeration value="IMAGE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="src">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="clipBegin" type="timeType"/>
					<xs:attribute name="clipEnd" type="timeType"/>
					<xs:attribute name="height" type="xs:int"/>
					<xs:attribute name="width" type="xs:int"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="XmlProperty">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="XmlAttribute"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="namespace" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="XmlAttribute">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="namespace" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="metaData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="key">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
