trunk/csharp/XukWorks/xuk.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!ELEMENT Channel (#PCDATA)>
<!ATTLIST Channel
	id ID #REQUIRED
>
<!ELEMENT ChannelsManager (Channel*)>
<!ELEMENT ChannelsProperty (Media*, SequenceMedia?)>
<!ELEMENT CoreNode (mProperties, CoreNode*)>
<!ELEMENT Media (#PCDATA)>
<!ATTLIST Media
	type (AUDIO | VIDEO | TEXT | IMAGE) #REQUIRED
	channel IDREF #REQUIRED
	src CDATA #IMPLIED
	clipBegin NMTOKEN #IMPLIED
	clipEnd NMTOKEN #IMPLIED
	height NMTOKEN #IMPLIED
	width NMTOKEN #IMPLIED
>
<!ELEMENT Presentation (ChannelsManager, CoreNode)>
<!ELEMENT SequenceMedia (Media+)>
<!ATTLIST SequenceMedia
	type (AUDIO | VIDEO | TEXT | IMAGE) #REQUIRED
	channel IDREF #REQUIRED
>
<!ELEMENT XmlProperty (XmlAttribute)*>
<!ATTLIST XmlProperty
	name CDATA #REQUIRED
	namespace CDATA #IMPLIED
>
<!ELEMENT key EMPTY>
<!ATTLIST key
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT mProperties (XmlProperty?, ChannelsProperty?)>
<!ELEMENT metaData (key*)>
<!ELEMENT XUK (metaData, Presentation)>
<!ELEMENT XmlAttribute (#PCDATA)>
<!ATTLIST XmlAttribute
	name CDATA #REQUIRED
	namespace CDATA #IMPLIED
>
